body {
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 300;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.title-super{
    font-size: 60px;
}

.title-logo{
    margin-top: 20px;
}

li {
	display: inline-block;
	font-size: 1.5em;
	padding-right: 15px;
}

.top-navigation {
	margin-left: -10px;
}